.screen-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: var(--horizontal-space);
  margin-top: 25px;
  margin-bottom: 15px;
}

.screen-header_title {
  font-size: 32px;
  font-weight: 600;
}

.screen-header_icons {
  display: flex;
}

.screen-header_icons span {
  margin-left: 25px;
}

.screen-header_badge {
  position: relative;
  top: -20px;
  left: 48px;
  background-color: tomato;
  width: 5px;
  height: 5px;
  border-radius: 15px;
  color: white;
  font-weight: 600;
}
